USE [master]
GO
/****** Object:  Database [CRUD]    Script Date: 17/08/2020 00:20:34 ******/
CREATE DATABASE [CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 17/08/2020 00:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[CEP] [varchar](50) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[Cidade] [varchar](50) NOT NULL,
	[UF] [varchar](50) NOT NULL,
	[Telefone] [varchar](50) NOT NULL,
	[IdBuscar] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
